services:
  atp:
    image: skrepkaq/atp
    container_name: atp
    volumes:
      - ./config:/config
      - ./downloads:/downloads
    restart: unless-stopped
  atp-from-file:
    image: skrepkaq/atp
    container_name: atp-from-file
    entrypoint: ["python", "-um", "atp.import_from_file"]
    volumes:
      - ./config:/config
      - ./downloads:/downloads
    profiles: ["from-file"]
