services:
  atp:
    image: skrepkaq/atp
    container_name: atp
    user: 1000:1000
    volumes:
      - ./downloads:/app/downloads
      - ./tiktok_videos.db:/app/tiktok_videos.db
    env_file:
      - .env
      - .env-docker
    depends_on:
      browserless:
        condition: service_healthy
    restart: unless-stopped
  browserless:
    image: ghcr.io/browserless/chromium:v2.31.0
    container_name: atp-browserless
    attach: false
    # ports:
    #   - "3000:3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/docs"]
      interval: 2s
      timeout: 2s
      retries: 3
      start_period: 2s
    restart: unless-stopped
  atp-from-file:
    image: skrepkaq/atp
    container_name: atp-from-file
    entrypoint: ["python", "-um", "atp.import_from_file"]
    user: 1000:1000
    volumes:
      - ./downloads:/app/downloads
      - ./tiktok_videos.db:/app/tiktok_videos.db
      - ./user_data_tiktok.json:/app/user_data_tiktok.json:ro
    env_file:
      - .env
      - .env-docker
    profiles: ["from-file"]
